@import "tailwindcss";

@theme {
  --font-sans: "Nunito Sans", ui-sans-serif, system-ui, sans-serif;
  --color-brand: #4d81f2;
  --color-brand-light: #6d97f2;
  --color-brand-lighter: #7ba1f2;
  --color-brand-dark: #2e6cf2;
}
